html, body {
    margin: 0;
    padding: 0;
}

.head{
  display: flex;
  gap: 25px;
}

.nav-link {
    font-size: 1.1rem;
    width: auto;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.header-clean-btn {
    background: none;
    border: none;
    color: rgb(181, 174, 174);
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .header-clean-btn::before,
.header-clean-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #fff;
  transition: width 0.3s ease;
}

.header-clean-btn::before {
  left: 50%;
}

.header-clean-btn::after {
  right: 50%;
}

.header-clean-btn:hover::before,
.header-clean-btn:hover::after {
  width: 50%;
}

.header-clean-btn:hover .nav-link,
.header-clean-btn:hover .nav-link{
  color: #fff;
}