/* CareerCraft.css */
.project_main {
  display: flex;
  flex-wrap: wrap;
  /* padding: 50px; */
  /* gap: 2rem; */
  position: relative;
}

.Container {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border-radius: 30px;
  border: #bbb 1px solid;
  background-color: #111;
  color: white;
  z-index: 1;
  font-family: 'Segoe UI', sans-serif;
  position: sticky;
}

@media (max-width: 1024px) {
  .section1,
  .section2,
  .section3,
  .section4 {
    position: relative;
    margin-top: 0px;
  }
  .section4{
    margin-bottom: 200px;
  }
}

.Container:hover {
  box-shadow: 0 0 20px rgba(85, 131, 216, 0.4);
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.project-image {
  /* height: 100%; */
  width: 50%;
  max-width: 600px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 1024px) {
  .project-image {
    width: 100%;
    max-width: 100%;
  }
  /* .img1{
    margin-top: 250px;
  }
  .img2{
    margin-top: 200px;
  }
  .img3{
    margin-top: 300px;
  }
  .img4{
    margin-top: 250px;
  } */
}

.project-image:hover {
  transform: scale(1.02);
}

.project-details {
  max-width: 600px;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.project-description {
  color: #bbb;
  line-height: 1.6;
  margin: 1rem 0;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-badge {
  background-color: rgba(255, 255, 255, 0.342);
  color: black;
  font-weight: 600;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-size: 0.9rem;
}

.tech-badge:hover {
  background-color: rgba(80, 76, 76, 0.824);
  color: #ffffff;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.code-btn {
  background-color: rgb(240, 172, 45);
  color: black;
}

.demo-btn {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1024px) {
  .project-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .project-image,
  .project-details {
    max-width: 100%;
  }
}